body {
  background-image: url(./assets/bg.png);
  background-position: center;
  background-size: cover;
  height: 64vh;
}
nav {
  height: 120px;
  background-color: #000;
  margin:-15px -6px 0px -7px;

}
.logo {
  position: absolute;
  top: 50px;
  left: 150px;
  background-color: #000;
}
.line {
  position: absolute;
  border-left: 2px solid #fff;
  height:40px;
  left: 350px;
  top: 60px;
  
}
.list-item {
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 50px;
  left: 350px;
  display: inline;
  font-size: 22px;
  padding: 22px;
  color: #fff;
  background-color: #000;
}
.button-small {
  position: absolute;
  right: 100px;
  background-color: #ba0cc5;
  color: #fff;
  border-radius: 10px;
  padding: 8px 20px 8px 20px;
  font-family: "Poppins", sans-serif;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
.hero-heading{
    font-size: 65px;
    color: #fff;
    max-width: 50%;
    word-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
}
.hero-description{
    font-size: 25px;
    color: #fff;
    /* max-width: 55%; */
    font-family: "Poppins", sans-serif;
    margin-top: -55px;
}
.button-large{
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    background-color: #ba0cc5;
    color: #fff;
    border: 1px solid #ba0cc5;
    font-size: 25px;
}